

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    </head>
    <body>

           <nav class="navbar navbar-inverse" role="navigation"> 
            <div class="navbar-header">                
                <a class="navbar-brand" href="{{ path('homepage') }}">Librería 4V</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('create_action') }}">Añadir un libro</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" 
                  action="{{ path('search_books') }}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar..." 
                        name="searchTerm" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </nav>
        
   

        <!-- Page Content -->
        <div class="container">
          {% block body %}
          {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
