{% extends 'base.html.twig' %}

{% block body %}
<form class="form-horizontal" method="post" action="{{ path('update_book') }}">
    <input type="hidden" name="id" value="{{ book.id }}" />
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Título</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" id="title" placeholder="Titulo" value="{{ book.title }}">
        </div>
    </div>
    <div class="form-group">
        <label for="cover" class="col-sm-2 control-label">Portada</label>
        <div class="col-sm-10">
            <input type="url" class="form-control" id="cover" name="cover" placeholder="URL de la portada" value="{{ book.coverUrl }}">
        </div>
    </div>
    <div class="form-group">
        <label for="author" class="col-sm-2 control-label">Autor</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="author" name="author" placeholder="Autor" value="{{ book.author }}">
        </div>
    </div>
    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Precio</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="price" name="price" placeholder="Precio" value="{{ book.price }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success pull-right">Modificar</button>
        </div>
    </div>
</form>

{% endblock %}