{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1>Listado de libros técnicos de programación</h1>

        <table class="table books-table">
            <thead>
            <th>Portada</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Precio</th>
            <th>Acciones</th>
            </thead>
            <tbody>
  {% for book in books %}
                <tr>
                    <td><img class="img-rounded" src="{{ book.coverUrl }}"></td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.price }}€</td>
                 <td class="actions">
    <a href="" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-edit"></span> Editar
    </a> 
    <a href="{{ path('delete_book', {'id': book.id}) }}" class="btn btn-sm btn-danger">
        <span class="glyphicon glyphicon-trash"></span> Eliminar
    </a>                         
</td>
                </tr>
    {% else %}
                <tr td colspan="5">No se han encontrado libros</td></tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}