/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-ene-2017, 11:53:41
    Author     : GATO-GOKU
*/

table.books-table img{
    max-height: 10em;
    max-width: 6em;
}

